{% if include.type == "post" %}
  <div class="post-heading">
    <h1>{{ page.title | strip_html }}</h1>
    {% if page.subtitle %}
      <h2 class="post-subheading">{{ page.subtitle | strip_html }}</h2>
    {% endif %}
    {% if page.author %}
      By <strong>{{ page.author | strip_html }}</strong><br>
    {% endif %}
    <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
    {% if page.last-updated %}
      <span class="post-meta">
        <span class="d-none d-md-inline middot">&middot;</span>
        Last updated {{ page.last-updated | date: date_format }}
      </span>
    {% endif %}
    {% if page.readtime %}
      {% include readtime.html %}
    {% endif %}
  </div>
{% endif %}
